{% extends 'base.html' %}
 {% load static %}

{% block content %}
<style>
    .form-control-scroll {
        height: 70vh;
        border: 1px solid #ccc;
        padding: 10px;
        overflow: auto; /* Add scrollbar when content overflows */
    }


</style>
  <a class="back-btn" href="{% url 'my-tests' %}" class=""><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAV0lEQVR4nO3VsRFAQBAF0FeALhQmOYEKKFcjnFwi4hj/zWz8/2ywS0TEhwzoW4VP2LGiezp8xIaKOeG/W3u9YS6V1gXOJRaNlJR40yamlqf4Fc8oIsJdDmEuSwKiW3qxAAAAAElFTkSuQmCC">Back</a>
<div class="mr-5">
<div class="mt-4 question-header">
  <div class="row">
    <h2>{{values.header}}</h2>

  </div>
        <div><a href="{% url 'edit-test' user_tests.id  %}" class="btn btn-secondary btn-sm">Edit</a>
        <a href="{% url 'delete-test' user_tests.id %}" class="btn btn-danger btn-sm" onclick="return confirmDelete();">Delete</a>
    </div>
    </div>
    <br>

<div class="card">
  <div class="card-body">
        </td>
      {% include 'partials/_messages.html'%}
      {% csrf_token %}
      <div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
          <div class="mt-4 question-header">
        <h3 >Student view</h3>
             <div >
                    <a href="{% url 'download-student-view' user_tests.id  %}" ><img class="download-icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAACMUlEQVR4nGNgGAWjgLZAsuzSf1pgibJLHUPWA0atN+jnCUkaeOD0kx//Tdro5AlJGnjg8ae/9POEJI08QDdPSNLQA4/p4Qlae+AxrT1BDw88pqUn6OWBx7TyBD098JgWnqC3Bx6jeWJQeoAUzDDqgbLRGPg/moQoAaNJqGw0CVEGCIXgvmvv/5998AmMDVuuwcVXnHoDFjtx9+N/2YrLcPE9V7GrlxyoegDkoF+/foFxzNx7YDG5ysv/P3/7CRd3nXALLK7VcBUu9ubT9//S5YOgIuve+QzuqPbtz8BiXpNvw8VAuGLtY7B4yIy7cLG9194Pjpo4dt49uKM2nH8LFqve8ATFA6tOvwGL125EiPfuejY4PKDTeA3uqFvPv4DF1px5g+KBOy+/gsWXnXwNFwN5XHIweACE7778CnbUj5+//ivXXAE7GMT/+h2RD/Sarv0/9+ATnG/QfG3weGDd2bcoIQtjI4d48sL7/79AM/aD198GV2u0Dilt77j8Ds52m3Dr/8evPzDEYXlFcrB4wHcqotT5/uMnSjF58OYHFHEQbtz8dHB5QLH6Ckp6B+FdV96B5XqQilkYDpx+Z3B5QLLs0v/zDxEZFLlOiJyDyBOwjK5ae2XweWDekVcoDg2eAQlltborKMnn0uPPRDtekp4eyFvxEO7Ibz9+/lepQYTyhYef4XKLjr0anB6QpBFmGPVA2WgM/B9NQpSA0SRUNpqEKAOjSahsgJPQKBgFDHgBAJeSBw0Mc0kLAAAAAElFTkSuQmCC"></a>
                    <a href="{% url 'download-student-view-pdf' user_tests.id  %}"><img class="download-icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAABvUlEQVR4nO3XTUsCQRgH8P0qWYe+QwZdgqBDL4dWqEuHDklBBYIGUUFQp7xEEHWMLlGdgkCJojCUUguDIvE1qEnoCwT+Y3xclrUtiGXGteaBB31mHPDn/ndBTVOlSmxB90BIj7SttSygOtklDwEBgI+HNKp+rxyEEAB7kYeAKIAsBEQCmASEcAATjJACYAIR0gBMEEIqgAlASAcwK8KVgN+0pgC6ugJQEXJSKkK6ipCz+psRmusDigWznx6ByD5g/FUMDlj3kzFgfdo8vzJu3S/We7ZXEiDQD1TegfIzcHEC3MZpvk8Do53A/DDNpRIQiwDlMs2bITq/OkFzPkvnjfZ3Swakrmj2tQPXl7S2PGYCEme0P9UDsApQyNFnDUD0oEkRagTwPt6ltfDMVwDvTJLWeMxcA8ik6P2ij+LA1/hsB0ic01pw0D5Ch9tNADS28SXsAHEbwOubeQPze0U6IJcF9sLA1gIQGjL37QB3N/UIeV16D+ie7wE897Vfuwj4OloIkM8Dp0f0yuedJetjNOp2QC3nFXoCbQTM/aYDdHmtKYCurgBUhJyUipCuIuSsVIR0FaF/HiFVqrQf6xPo5lRgsHhigAAAAABJRU5ErkJggg=="></a>
                    <a href="{% url 'download-student-view-txt' user_tests.id  %}"><img class="download-icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAB10lEQVR4nGNgGAWjgPZgV8aJ/7TAO9NPdAxZDxysOEc/T9DCA2+uffh/sJJOnqCFBz4//Uo/T9DKA5/p5QlaeuAzPTxBaw98prUn6OGBz7T0BL088JlWnqCnBz7TwhP09sBnNE8MSg+QghlGPZAxGgP/R5MQJWA0CWWMJiHKwLBMQmWmi/8HSk3AiueH7PwfrzwdzJ7ivRmsfrrfVjA/WnHa/4Whu3HqLTZeRB8PtDis/p+hPed/ouqM/14iPf8DJSeA+SC8NHLv/06XdWDxNM3ZYPXZOnPB/FaH1f9XRu+Hqw2Q7AeLJ6nNBPOb7FbRtyZeELoL7gBk8W2pR/8HS0/47y3S839e0M7/3qI9YMduTjqCoi4RGgALQ3cNTFMClwfAsWS/GiwXIj0RTNfbrMBQkziYPbA5+Qg4aYHk/cT6/q9PODS0PLAp6cj/AIk+sLyvWO//9fFDzAONtqtQklCt1fKh44GtqUf/B0lPhGTiYEgm9hfv/78x6fDQ8ECb4xqweLrWHDA/W3cemI9eTCYORg9sTzv+P1R2Elh8ktcmeEUG4gdJTfi/NeXo4PHALjpghlEPZIzGwP/RJEQJGE1CGaNJiDIwmoQyRpPQCE9Co2AUMOAEAJwwiBR+LIQRAAAAAElFTkSuQmCC"></a>
</div>

</div>

<div class="form-control-scroll" id="student-view" name="student-view">
    <div style="font-weight: bold; text-align: center;">
        {{values.header}}
    </div>
        <div style="text-align: center;">
        {{values.subtitle}}
    </div>
      {% for question_id, question_data in values.questions.items %}
<div class="form-group">
    <br>
  <span for="" style="font-weight: bold;">Question {{ forloop.counter }}:</span>
    {{ question_data.question }}<br>

{% for answer in question_data.answers %}

  {{ answer }}<br>

{% endfor %}

</div>
{% endfor %}

</div>
      </div>
    </div>

<div class="col-md-6">
      <div class="form-group">
          <div class="mt-4 question-header">
        <h3 for="">Teacher view</h3>
          <div>
                    <a href="{% url 'download-teacher-view' user_tests.id  %}" ><img class="download-icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAACMUlEQVR4nGNgGAWjgLZAsuzSf1pgibJLHUPWA0atN+jnCUkaeOD0kx//Tdro5AlJGnjg8ae/9POEJI08QDdPSNLQA4/p4Qlae+AxrT1BDw88pqUn6OWBx7TyBD098JgWnqC3Bx6jeWJQeoAUzDDqgbLRGPg/moQoAaNJqGw0CVEGCIXgvmvv/5998AmMDVuuwcVXnHoDFjtx9+N/2YrLcPE9V7GrlxyoegDkoF+/foFxzNx7YDG5ysv/P3/7CRd3nXALLK7VcBUu9ubT9//S5YOgIuve+QzuqPbtz8BiXpNvw8VAuGLtY7B4yIy7cLG9194Pjpo4dt49uKM2nH8LFqve8ATFA6tOvwGL125EiPfuejY4PKDTeA3uqFvPv4DF1px5g+KBOy+/gsWXnXwNFwN5XHIweACE7778CnbUj5+//ivXXAE7GMT/+h2RD/Sarv0/9+ATnG/QfG3weGDd2bcoIQtjI4d48sL7/79AM/aD198GV2u0Dilt77j8Ds52m3Dr/8evPzDEYXlFcrB4wHcqotT5/uMnSjF58OYHFHEQbtz8dHB5QLH6Ckp6B+FdV96B5XqQilkYDpx+Z3B5QLLs0v/zDxEZFLlOiJyDyBOwjK5ae2XweWDekVcoDg2eAQlltborKMnn0uPPRDtekp4eyFvxEO7Ibz9+/lepQYTyhYef4XKLjr0anB6QpBFmGPVA2WgM/B9NQpSA0SRUNpqEKAOjSahsgJPQKBgFDHgBAJeSBw0Mc0kLAAAAAElFTkSuQmCC"></a>
                    <a href="{% url 'download-teacher-view-pdf' user_tests.id  %}"><img class="download-icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAABvUlEQVR4nO3XTUsCQRgH8P0qWYe+QwZdgqBDL4dWqEuHDklBBYIGUUFQp7xEEHWMLlGdgkCJojCUUguDIvE1qEnoCwT+Y3xclrUtiGXGteaBB31mHPDn/ndBTVOlSmxB90BIj7SttSygOtklDwEBgI+HNKp+rxyEEAB7kYeAKIAsBEQCmASEcAATjJACYAIR0gBMEEIqgAlASAcwK8KVgN+0pgC6ugJQEXJSKkK6ipCz+psRmusDigWznx6ByD5g/FUMDlj3kzFgfdo8vzJu3S/We7ZXEiDQD1TegfIzcHEC3MZpvk8Do53A/DDNpRIQiwDlMs2bITq/OkFzPkvnjfZ3Swakrmj2tQPXl7S2PGYCEme0P9UDsApQyNFnDUD0oEkRagTwPt6ltfDMVwDvTJLWeMxcA8ik6P2ij+LA1/hsB0ic01pw0D5Ch9tNADS28SXsAHEbwOubeQPze0U6IJcF9sLA1gIQGjL37QB3N/UIeV16D+ie7wE897Vfuwj4OloIkM8Dp0f0yuedJetjNOp2QC3nFXoCbQTM/aYDdHmtKYCurgBUhJyUipCuIuSsVIR0FaF/HiFVqrQf6xPo5lRgsHhigAAAAABJRU5ErkJggg=="></a>
                    <a href="{% url 'download-teacher-view-txt' user_tests.id  %}"><img class="download-icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAB10lEQVR4nGNgGAWjgPZgV8aJ/7TAO9NPdAxZDxysOEc/T9DCA2+uffh/sJJOnqCFBz4//Uo/T9DKA5/p5QlaeuAzPTxBaw98prUn6OGBz7T0BL088JlWnqCnBz7TwhP09sBnNE8MSg+QghlGPZAxGgP/R5MQJWA0CWWMJiHKwLBMQmWmi/8HSk3AiueH7PwfrzwdzJ7ivRmsfrrfVjA/WnHa/4Whu3HqLTZeRB8PtDis/p+hPed/ouqM/14iPf8DJSeA+SC8NHLv/06XdWDxNM3ZYPXZOnPB/FaH1f9XRu+Hqw2Q7AeLJ6nNBPOb7FbRtyZeELoL7gBk8W2pR/8HS0/47y3S839e0M7/3qI9YMduTjqCoi4RGgALQ3cNTFMClwfAsWS/GiwXIj0RTNfbrMBQkziYPbA5+Qg4aYHk/cT6/q9PODS0PLAp6cj/AIk+sLyvWO//9fFDzAONtqtQklCt1fKh44GtqUf/B0lPhGTiYEgm9hfv/78x6fDQ8ECb4xqweLrWHDA/W3cemI9eTCYORg9sTzv+P1R2Elh8ktcmeEUG4gdJTfi/NeXo4PHALjpghlEPZIzGwP/RJEQJGE1CGaNJiDIwmoQyRpPQCE9Co2AUMOAEAJwwiBR+LIQRAAAAAElFTkSuQmCC"></a>
          </div>
          </div>

<div class="form-control-scroll" id="teacher-view" name="teacher-view">
    <div style="font-weight: bold; text-align: center;">
        {{values.header}}
    </div>
        <div style="text-align: center;">
        {{values.subtitle}}
    </div>
      {% for question_id, question_data in values.questions.items %}
<div class="form-group">
    <br>
  <span for="" style="font-weight: bold;">Question {{ forloop.counter }}:</span>
    {{ question_data.question }}<br>

{% for answer in question_data.answers %}

  {{ answer }}<br>

{% endfor %}

{% if question_data.correct_answer %}<br>
<div class="form-group">
  <label for="">Correct Answer: {{ question_data.correct_answer|join:', ' }}</label>
</div>
      {% endif %}

<div class="form-group">
  <label for="">Explanation: {{ question_data.explanation }}</label>
</div>

</div>
{% endfor %}


</div>
      </div>
    </div>

  </div>
</div>

  </div>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
              <script src="{% static 'js/myTests.js' %}"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</div>
</div>
{% endblock %}
