{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="container mt-4">
  <div class="row">
    <h2>My Tests</h2>
  </div>

   <div>
    {% include 'partials/_messages.html' %}

    {% if user_tests.count %}

    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">

        <div class="form-group">
          <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#495057e0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
          <input type="text" class="form-control mytest-search" id="searchField" placeholder="Search">
        </div>
      </div>
     </div>
<div class="app-table download-table">

  <table class="table table-stripped table-hover">
<thead>
  <tr style="border-top: 2px solid #dee2e6">
    <th><a href="?sort_column=header&sort_order={{ sort_order }}">Header</a></th>
    <th><a href="?sort_column=notes&sort_order={{ sort_order }}">Notes</a></th>
    <th><a href="?sort_column=created_at&sort_order={{ sort_order }}">Date</a></th>
    <th></th>
  </tr>
</thead>



    <tbody>
      {% for user_tests in page_obj%}
      <tr>
          <td>
                    <a
            href="{% url 'home-view' user_tests.id  %}"
            >{{user_tests.header}}</a
          >
          </td>
        <td>{{user_tests.notes}}</td>
          <td>{{user_tests.created_at}}</td>

                  <td>
                    <a
            href="{% url 'download-student-view' user_tests.id  %}"
            ><img class="download-icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAACMUlEQVR4nGNgGAWjgLZAsuzSf1pgibJLHUPWA0atN+jnCUkaeOD0kx//Tdro5AlJGnjg8ae/9POEJI08QDdPSNLQA4/p4Qlae+AxrT1BDw88pqUn6OWBx7TyBD098JgWnqC3Bx6jeWJQeoAUzDDqgbLRGPg/moQoAaNJqGw0CVEGCIXgvmvv/5998AmMDVuuwcVXnHoDFjtx9+N/2YrLcPE9V7GrlxyoegDkoF+/foFxzNx7YDG5ysv/P3/7CRd3nXALLK7VcBUu9ubT9//S5YOgIuve+QzuqPbtz8BiXpNvw8VAuGLtY7B4yIy7cLG9194Pjpo4dt49uKM2nH8LFqve8ATFA6tOvwGL125EiPfuejY4PKDTeA3uqFvPv4DF1px5g+KBOy+/gsWXnXwNFwN5XHIweACE7778CnbUj5+//ivXXAE7GMT/+h2RD/Sarv0/9+ATnG/QfG3weGDd2bcoIQtjI4d48sL7/79AM/aD198GV2u0Dilt77j8Ds52m3Dr/8evPzDEYXlFcrB4wHcqotT5/uMnSjF58OYHFHEQbtz8dHB5QLH6Ckp6B+FdV96B5XqQilkYDpx+Z3B5QLLs0v/zDxEZFLlOiJyDyBOwjK5ae2XweWDekVcoDg2eAQlltborKMnn0uPPRDtekp4eyFvxEO7Ibz9+/lepQYTyhYef4XKLjr0anB6QpBFmGPVA2WgM/B9NQpSA0SRUNpqEKAOjSahsgJPQKBgFDHgBAJeSBw0Mc0kLAAAAAElFTkSuQmCC"></a
          >
        </td>
          <td>
                    <a
            href="{% url 'download-student-view-pdf' user_tests.id  %}"
            ><img class="download-icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAABvUlEQVR4nO3XTUsCQRgH8P0qWYe+QwZdgqBDL4dWqEuHDklBBYIGUUFQp7xEEHWMLlGdgkCJojCUUguDIvE1qEnoCwT+Y3xclrUtiGXGteaBB31mHPDn/ndBTVOlSmxB90BIj7SttSygOtklDwEBgI+HNKp+rxyEEAB7kYeAKIAsBEQCmASEcAATjJACYAIR0gBMEEIqgAlASAcwK8KVgN+0pgC6ugJQEXJSKkK6ipCz+psRmusDigWznx6ByD5g/FUMDlj3kzFgfdo8vzJu3S/We7ZXEiDQD1TegfIzcHEC3MZpvk8Do53A/DDNpRIQiwDlMs2bITq/OkFzPkvnjfZ3Swakrmj2tQPXl7S2PGYCEme0P9UDsApQyNFnDUD0oEkRagTwPt6ltfDMVwDvTJLWeMxcA8ik6P2ij+LA1/hsB0ic01pw0D5Ch9tNADS28SXsAHEbwOubeQPze0U6IJcF9sLA1gIQGjL37QB3N/UIeV16D+ie7wE897Vfuwj4OloIkM8Dp0f0yuedJetjNOp2QC3nFXoCbQTM/aYDdHmtKYCurgBUhJyUipCuIuSsVIR0FaF/HiFVqrQf6xPo5lRgsHhigAAAAABJRU5ErkJggg=="></a
          >
        </td>

          <td>
                    <a
            href="{% url 'download-student-view-txt' user_tests.id  %}"
            ><img class="download-icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAB10lEQVR4nGNgGAWjgPZgV8aJ/7TAO9NPdAxZDxysOEc/T9DCA2+uffh/sJJOnqCFBz4//Uo/T9DKA5/p5QlaeuAzPTxBaw98prUn6OGBz7T0BL088JlWnqCnBz7TwhP09sBnNE8MSg+QghlGPZAxGgP/R5MQJWA0CWWMJiHKwLBMQmWmi/8HSk3AiueH7PwfrzwdzJ7ivRmsfrrfVjA/WnHa/4Whu3HqLTZeRB8PtDis/p+hPed/ouqM/14iPf8DJSeA+SC8NHLv/06XdWDxNM3ZYPXZOnPB/FaH1f9XRu+Hqw2Q7AeLJ6nNBPOb7FbRtyZeELoL7gBk8W2pR/8HS0/47y3S839e0M7/3qI9YMduTjqCoi4RGgALQ3cNTFMClwfAsWS/GiwXIj0RTNfbrMBQkziYPbA5+Qg4aYHk/cT6/q9PODS0PLAp6cj/AIk+sLyvWO//9fFDzAONtqtQklCt1fKh44GtqUf/B0lPhGTiYEgm9hfv/78x6fDQ8ECb4xqweLrWHDA/W3cemI9eTCYORg9sTzv+P1R2Elh8ktcmeEUG4gdJTfi/NeXo4PHALjpghlEPZIzGwP/RJEQJGE1CGaNJiDIwmoQyRpPQCE9Co2AUMOAEAJwwiBR+LIQRAAAAAElFTkSuQmCC"></a
          >
        </td>

        <td>
                    <a
            href="{% url 'edit-test' user_tests.id  %}"
            class="btn btn-secondary btn-sm"
            >Edit</a
          >

        </td>
          <td>
    <a href="{% url 'delete-test' user_tests.id %}" class="btn btn-danger btn-sm" onclick="return confirmDelete();">Delete</a>

        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>

<p class="no-results" style="display: none;">No results </p>
    <div class="table-output">


      <table class="table table-stripped table-hover">
      <thead>
        <tr>
          <th>Header</th>
          <th>Notes</th>
            <th>Date</th>
          <th></th>
        </tr>
      </thead>

        <tbody  class="table-body">
        </tbody>
      </table>
    </div>

    <div class="pagination-container">
    <div class="">
      Showing page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}
    </div>
    <ul class="pagination align-right float-right mr-auto">
      {% if page_obj.has_previous %}
      <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif %}

      {% if page_obj.has_next %}
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
      {% endif %}


      </ul>

  </div>
           {% else %}
    <!-- Display "Create a test" link when no tests are available -->
    <div class="row">
      <div class="col-md-12">
        <h2>No tests available. <a href="{% url 'choose-create-speed' %}">Create a test</a> here.</h2>
      </div>
    </div>
           {% endif %}

</div>
    <script>
const searchField = document.querySelector("#searchField");
const tableOutput = document.querySelector(".table-output");
const appTable = document.querySelector(".app-table");
tableOutput.style.display = "none";
const paginationContainer = document.querySelector(".pagination-container");
const noResults = document.querySelector(".no-results");
const tbody = document.querySelector(".table-body");


searchField.addEventListener("keyup", (e) => {
  const searchValue = e.target.value;

  if (searchValue.trim().length > 0) {
    paginationContainer.style.display = "none";
    tbody.innerHTML = "";

    fetch("/my-tests/search-test", {
      body: JSON.stringify({ searchText: searchValue }),
      method: "POST",
    })
      .then((res) => res.json())
      .then((data) => {
        console.log("data", data);
        appTable.style.display = "none";
        tableOutput.style.display = "block";
        console.log(data);
        if (data.length === 0) {
          noResults.style.display = "block";
          tableOutput.style.display = "none";
        } else {
          noResults.style.display = "none";
          data.forEach((item) => {
            const createdAtDate = new Date(item.created_at);

              const options = {
    year: "numeric",
    month: "short",
    day: "numeric",
    hour: "numeric",
    minute: "numeric",
    hour12: true,
  };
  const formattedDate = new Intl.DateTimeFormat("en-US", options).format(createdAtDate);
            tbody.innerHTML += `
              <tr>
                <td>
                <a href="#" class="home-view" data-id="${item.id}">${item.header}</a>
          </td>
                <td>${item.notes}</td>
      <td>${formattedDate}</td>
                 <td>
                  <a href="#" class="btn btn-secondary btn-sm download-student-view" data-id="${item.id}">Word</a>
                </td>
                  <td>
                  <a href="#" class="btn btn-secondary btn-sm download-student-view-pdf" data-id="${item.id}">PDF</a>
                </td>
                 <td>
                  <a href="#" class="btn btn-secondary btn-sm download-student-view-txt" data-id="${item.id}">TXT</a>
                </td>
                <td>
                  <a href="#" class="btn btn-secondary btn-sm edit-button" data-id="${item.id}">Edit</a>
                </td>
                <td>
                  <a href="#" class="btn btn-danger btn-sm delete-button" data-id="${item.id}">Delete</a>
                </td>
              </tr>
            `;
          });

          // Attach event listeners to dynamically created buttons
          attachButtonEventListeners();
        }
      });
  } else {
    tableOutput.style.display = "none";
    appTable.style.display = "block";
    paginationContainer.style.display = "block";
  }
});

function attachButtonEventListeners() {
  const editButtons = document.querySelectorAll(".edit-button");
  const deleteButtons = document.querySelectorAll(".delete-button");
  const testHeaderView = document.querySelectorAll(".home-view");
  const downloadStudentViewButtons = document.querySelectorAll(".download-student-view");
  const downloadStudentViewPDFButtons = document.querySelectorAll(".download-student-view-pdf");
   const downloadStudentViewTXTButtons = document.querySelectorAll(".download-student-view-txt");


testHeaderView.forEach((a) => {
  a.addEventListener("click", (e) => {
    e.preventDefault();
    const id = a.getAttribute("data-id");
    const testHeaderViewUrl = `/my-tests/home-view/${id}`;
    window.location.href = testHeaderViewUrl;
  });
});

  editButtons.forEach((button) => {
    button.addEventListener("click", (e) => {
      e.preventDefault();
      const id = e.target.getAttribute("data-id");
      const editUrl = `/my-tests/edit-test/${id}`;
      window.location.href = editUrl;
    });
  });

  deleteButtons.forEach((button) => {
    button.addEventListener("click", (e) => {
      e.preventDefault();
      const id = e.target.getAttribute("data-id");
      if (confirmDelete()) {
        const deleteUrl = `/my-tests/delete-test/${id}`;
        window.location.href = deleteUrl;
      }
    });
  });


          downloadStudentViewButtons.forEach((button) => {
    button.addEventListener("click", (e) => {
      e.preventDefault();
      const id = e.target.getAttribute("data-id");
        const downloadStudentViewUrl = `/my-tests/download-student-view/${id}`;
        window.location.href = downloadStudentViewUrl;

    });
  });
            downloadStudentViewPDFButtons.forEach((button) => {
    button.addEventListener("click", (e) => {
      e.preventDefault();
      const id = e.target.getAttribute("data-id");
        const downloadStudentViewPDFUrl = `/my-tests/download-student-view-pdf/${id}`;
        window.location.href = downloadStudentViewPDFUrl;

    });
  });
            downloadStudentViewTXTButtons.forEach((button) => {
    button.addEventListener("click", (e) => {
      e.preventDefault();
      const id = e.target.getAttribute("data-id");
        const downloadStudentViewTXTUrl = `/my-tests/download-student-view-txt/${id}`;
        window.location.href = downloadStudentViewTXTUrl;

    });
  });

}

// Inside your existing JavaScript code
// Attach event listeners to sorting links
const sortingLinks = document.querySelectorAll("th a");
sortingLinks.forEach(link => {
  link.addEventListener("click", (e) => {
    e.preventDefault();
    const sortColumn = link.getAttribute("href").split("=")[1];
    const currentSortOrder = link.getAttribute("href").includes("sort_order=asc") ? "desc" : "asc";
    const searchValue = searchField.value; // Preserve search value

    // Update query parameters and reload the page
    const newUrl = `?sort_column=${sortColumn}&sort_order=${currentSortOrder}&page=1`;
    window.location.href = newUrl;
  });
});



    </script>
        <script src="{% static 'js/myTests.js' %}"></script>


</div>

{% endblock content %}
