{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>

    .info-icon {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url("{% static '/img/info.png' %}") no-repeat center center;
    background-size: contain; /* This property scales the background image to fit inside the container while preserving its aspect ratio */
    background-repeat: no-repeat; /* This property prevents the background image from repeating */
    background-position: center center; /* This property centers the background image both horizontally and vertically */
    cursor: pointer;
  }

</style>

<div class="container mt-4">
  <nav aria-label="Exam Info">
    <h1>Exam Info</h1>
    <h3>1. Exam Header</h3>
  </nav>

  <div class="card">
    <div class="card-body">
      <form action="{% url 'advanced-test' %}" method="post" id="advanced-test-form">
        {% include 'partials/_messages.html'%} {% csrf_token %}

        <!-- Page 1 -->

        <div class="page" data-page="1">
                      <h3>1. Exam Header</h3>
          <div class="form-group">
            <label for="">Your exam title*
                <label class="info-tooltip" for="">
              <span class="info-icon"></span>
                    <span class="info-text">Enter the name of your institution.</span>
            </label></label>
            <input
              type="text"
              class="form-control form-control-sm"
              name="header"
              value="{{values.header}}"
            />
          </div>
          <div class="form-group">
            <label for="">Your exam subtitle                <label class="info-tooltip" for="">
              <span class="info-icon"></span>
                    <span class="info-text">Enter the name of your institution.</span>
            </label></label>
            <input
              type="text"
              class="form-control form-control-sm"
              name="subtitle"
              value="{{values.subtitle}}"
            />
          </div>
          <div class="form-group">
            <label for="">Exam tag                <label class="info-tooltip" for="">
              <span class="info-icon"></span>
                    <span class="info-text">Enter the name of your institution.</span>
            </label></label>
            <input
              type="text"
              class="form-control form-control-sm"
              name="tag"
              value="{{values.tag}}"
            />
          </div>
                      <div class="form-group">
            <label for="">Institution                <label class="info-tooltip" for="">
              <span class="info-icon"></span>
                    <span class="info-text">Enter the name of your institution.</span>
            </label></label>
            <input
              type="text"
              class="form-control form-control-sm"
              name="institution"
              value="{{values.institution}}"
            />
          </div>
          <div class="form-group">
            <label for="">Additional Info                <label class="info-tooltip" for="">
              <span class="info-icon"></span>
                    <span class="info-text">Enter the name of your institution.</span>
            </label></label>
            <input
              type="text"
              class="form-control form-control-sm"
              name="add_header_info"
              value="{{values.add_header_info}}"
            />
          </div>
        </div>

        <!-- Page 2 -->
        <div class="page" data-page="2">
                      <h3>2. Exam Footer</h3>
                      <div class="form-group">
            <label for="">Grade / Score(%)                <label class="info-tooltip" for="">
              <span class="info-icon"></span>
                    <span class="info-text">Enter the name of your institution.</span>
            </label></label>
            <div class="appending_div">
              <div>
                <input type="text" name="grade" value="{{values.grade}}">
                <input type="text" name="score" value="{{values.score}}">
              </div>
            </div>
            <span class="fa fa-plus add"></span>
          </div>
          <div class="form-group">
            <label for="">Footer                <label class="info-tooltip" for="">
              <span class="info-icon"></span>
                    <span class="info-text">Enter the name of your institution.</span>
            </label></label>
            <input
              type="text"
              class="form-control form-control-sm"
              name="footer"
              value="{{values.footer}}"
            />
          </div>
        </div>

        <!-- Page 3 -->
<div class="page" data-page="3">
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label for="">Teaching Material*               <label class="info-tooltip" for="">
              <span class="info-icon"></span>
                    <span class="info-text">Enter the name of your institution.</span>
            </label></label>
        <textarea class="form-control form-control-sm" id="teaching-material" name="teaching_material" style="height: 400px;">{{values.teaching_material}}</textarea>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="">Upload Text File</label><br>
        <div class="file-drop-area">
          <input type="file" class="btn btn-primary btn-sm" id="file-input">
          <span class="file-drop-text">Drag and drop files here or select a file</span>
        </div>
      </div>
    </div>
  </div>
</div>

        <!-- Page 4 -->
<div class="page" data-page="4">
   <h3>4. Questions               <label class="info-tooltip" for="">
              <span class="info-icon"></span>
                    <span class="info-text">Enter the name of your institution.</span>
            </label> </h3>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Question Types</label>
        <div class="question_types">
          <div>
            <label for="">Multiple Choice Questions</label>&nbsp
            <input type="text" name="mcq" class="question-type" pattern="[0-9]*" value="{{values.mcq}}" > <br>
            <label for="">Multiple Selection Questions</label>&nbsp
            <input type="text" name="msq" class="question-type" pattern="[0-9]*" value="{{values.msq}}" ><br>
            <label for="">Open Answer Questions</label>&nbsp
            <input type="text" name="oaq" class="question-type" pattern="[0-9]*" value="{{values.oaq}}" >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Total Questions</label>
        <div class="number_of_questions">
          <span id="total-questions">0</span>
        </div>
      </div>
    </div>
  </div>
</div>

        <input type="hidden" id="current-page" value="1">

<button type="button" class="btn btn-primary btn-primary-sm" id="prev-page">Previous</button>
<button type="button" class="btn btn-primary btn-primary-sm" id="next-page">Next</button>
<input type="submit" value="Submit" class="btn btn-primary btn-primary-sm" id="submit-btn" style="display: none;" />
</form>
</div>
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <script src="{% static 'js/grades.js' %}"></script>
</div>

{% endblock %}
